body {
    margin: 0px;
    background: #ECEFF1;
    -webkit-backface-visibility: hidden;
}

.blob {
    position: fixed;
    background: #42A5F5;
    background-size: 1000% 1000%;
    top: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    border-radius: 100%;
    margin-top: -50px;
    margin-left: -50px;
}

.blobs {
    filter: url('#goo');
    position: fixed;
    left: calc(50vw - 250px);
    top: calc(50vh - 250px);
    width: 500px;
    height: 500px;
    background: transparent;
    border: 3px solid;
    border-color: transparent;
}

.one {
    left: 50%;
    filter: blur(15px);
}

.four {
    filter: blur(20px);
    position: fixed;
    background: rgba(77, 208, 225, 0.7) !important;
    left: calc(var(--mouse-x) * 0.27px);
    top: calc(var(--mouse-y) * 0.27px);
    margin-left: calc(50vw - 120px);
    margin-top: calc(50vh - 120px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.vsfr {
    opacity: 1 !important;
}