html {
    font-size: 62.5%;
}
@font-face {
    font-family: "horizon";
    src: url('../Assets/Fonts/horizon.otf') format('opentype');
}

@font-face {
    font-family: "horizon_outlined";
    src: url('../Assets/Fonts/horizon_outlined.otf') format('opentype');
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: url('../Assets/Fonts/RobotoMono-Regular.ttf') format('opentype');
}

@media screen and (max-width: 1100px) {
    .cv-container {
        align-content: center;
        transition: 0.3s;
    }
}
/* ////////////////////////////////////CV */

.cv-container {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.cv {
    background-color: #fdf1e2;
    background-image: url('../Assets/Images/BG-CV.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 80vw;
    display: grid;
    grid-template-columns: 7% 30% 2% 54% 7%;
    grid-template-rows: 2% 10% 3% 83% 2%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .cv {
} */

/* ////////////////////////////////////TITRE */
.cv-title {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw 0 3vw;
}

.txt-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .div-container {
} */

/* ////////////////////////////////////TEXT */
.baptiste-cv,
.harbuz-cv,
.h2-cv,
.h4-cv,
.h6-cv,
.p-cv {
    color: #25292E;
}

.baptiste-cv {
    font-family: "horizon" !important;
    text-align: left;
    font-size: 3vw;
    margin: 0;
}

.harbuz-cv {
    font-family: "horizon_outlined" !important;
    text-align: right;
    font-size: 3vw;
    margin: 0;
}


/* .cv-title h1,
h3,
h4 {
    margin: 0;
} */

.h2-cv {
    font-size: 1.5vw;
    text-align: center;
    margin: 1vh 0 1vh 1;
}

.h3-cv {
    font-size: 1vw;
    text-align: left;
}

.h4-cv {
    font-size: 0.6vw;
}

.h6-cv {
    font-size: 0.4vw;
}

.p-cv {
    font-family: "RobotoMono-Regular" !important;
    font-size: 0.8vw;
    
    /* margin: 0; */
}

.cv-left .p-cv {
    padding: 0 1vw 0 1vw;
    margin: 0;
}

.title-experience .p-cv {
    margin: 0;
}

.txt-centre-dinteret .p-cv {
    margin-bottom: 1vh;
}

/* ////////////////////////////////////UP CV */
.up-cv {
    background-color: #FFD213;
    border: solid 1px #25292E;
    box-shadow: 0.4vw 0.4vw #25292E;
    width: 35vw;
    /* height: 14vw; */
    position: relative;
    top: -2.5vw;
    left: -3.7vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////PARTIE GAUCHE */
.cv-left {
    background-color: #FFD213;
    border: solid 1px #25292E;
    box-shadow: 0.4vw 0.4vw #25292E;
    grid-column: 2 / 3;
    grid-row: 4 /5;
    display: grid;
    grid-template-rows: 5% 95%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.orange-up {
    background-color: #F16529;
    border-bottom: solid 1px #25292E;
    padding: 1.5vw;
    display: flex;
    align-items: center;
}

.red {
    background-color: #FD6058;
}

.yellow {
    background-color: #FFCB13;
}

.green {
    background-color: #29DD41;
}

.red,
.yellow,
.green {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: solid 1px #25292E;
    margin-left: 1%;
    margin-right: 1%;
}

/* ////////////////////////////////////PHOTO */
.picture-container {
    padding: 0 15px 0 15px;
    position: relative;
    top: 0.8vw;
right: 25%;
}

.picture-cv {
    background-image: url('../Assets/Images/Picture-cv.jpg');
    width: 10vw;
    height: 14vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    filter: brightness(1.5) grayscale(1);
    border: solid 1px #25292E;
    box-shadow: 0.4vw 0.4vw #25292E;
}

.beside-picture {
    height: 30%;
}
/* ////////////////////////////////////PARTIE JAUNE GAUCHE */
.yellow-down {
    grid-row: 2 / 3;
}

.logo-formations {
    display: flex;
    justify-content: space-around;
    padding: 1vw 0 1vw 0;
}
.lien-cv {
display: flex;
flex-direction: row;
align-items: center;
align-content: center;

}
.lien-cv .p-cv{
padding-left: 0.5vw;
}
.Logo-Linkedin-Cv{
    background-image: url('../Assets/Images/linkedin-black.svg');
    width: 1.5vw;
    height: 1.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
margin-left: 1vw;

}

.logo {
    text-align: center;
}

.logo-html {
    background-image: url('../Assets/Images/html-logo.svg');
}

.logo-css {
    background-image: url('../Assets/Images/css-logo.svg');
}

.logo-js {
    background-image: url('../Assets/Images/js-logo.svg');
}

.logo-react {
    background-image: url('../Assets/Images/react-logo.svg');
}

.logo-node {
    background-image: url('../Assets/Images/node-logo.svg');
}

.logo-html,
.logo-css,
.logo-js,
.logo-react,
.logo-node {
    height: 2.5vw;
    width: 2.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ////////////////////////////////////PARTIE DROITE */
.cv-right {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    height: 70;
    display: grid;
    align-content: space-around;
    
}

.competences {
    background-color: #FFD213;
    border: solid 1px #25292E;
    box-shadow: 0.4vw 0.4vw #25292E;
    width: 22vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-competences {
    padding: 1vw 3vw 1vw 2vw;
    text-align: justify;
}

/* .experiences-container {
} */

.experiences {
    background-color: #FFD213;
    border: solid 1px #25292E;
    box-shadow: 0.4vw 0.4vw #25292E;
    width: 17vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-container {
    padding: 1vw 0 0 2vw;
}

/* .title-experience {
} */

.detail-txt-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    align-items: center;
    width: 30vw;
}

.txt-experience {
    text-align: justify;
}

/* ////////////////////////////////////HOVER */
.cv-left,
.up-cv,
.competences-container,
.experiences-container,
.cv-title,
.h2-cv,
.picture-container,
.red,
.yellow,
.green {
    transition: 0.3s;
}

.cv-left:hover,
.up-cv:hover,
.competences-container:hover,
.experiences-container:hover,
.cv-title:hover,
.h2-cv:hover,
.picture-container:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.competences-container .p-cv:hover,
.detail-txt-container:hover {
    background: #FFD213;
    box-shadow: 0.4vw 0.4vw #25292E;
}

/* .p-cv:hover {
    font-weight: bold;
} */

.red:hover,
.yellow:hover,
.green:hover {
    transform: scale(1.5);
    transition: 0.3s;
}