/* ///////////////////DARK & LIGHT */
.light {

    .h1-wait,
    .h2-project,
    .bloc-txt-projets {
        color: #25292E;;
    }

    .line {
        background-color: #25292E;;
    }
}

.dark {

    .h1-wait,
    .h2-project,
    .bloc-txt-projets {
        color: white;
    }

    .line {
        background-color: white;
    }
}

/* ///////////////////MES PROJETS*/
.mesprojets-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .mesprojets-container {
        display: flex;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .bloc-projets {
        width: 100vw;
        height: auto;
    }

    .mesprojets-container .bloc-txt-projets-container {
        width: 100vw;
    }

    .bloc-txt-projets {
        width: 100vw;
    }
}

.bloc-projets {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    transition: 0.3s;
    border-radius: 25%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cards-projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.h1-wait {
    text-align: center;
    font-family: "danielbd";
    transform: rotate(-10deg);
    font-size: max(2vw, 20px);
}

.bloc-txt-projets-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 50vw;
}

.bloc-txt-projets {
    padding: 20px 20px 20px 20px;
    margin: 1vw;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.line {
    width: 40vw;
    height: 0.2vw;
    transition: 0.3s;
}

.enigme-evadees,
.cafe-creme,
.garçonne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    padding: 1vw;
    transition: 0.3s;
}

.enigme-evadees:hover,
.cafe-creme:hover,
.garçonne:hover {
    transform: scale(1.2);
    transition: 0.3s;
}