/* ///////////////////DARK & LIGHT */
.light {

    .h1-wait,
    .h2-project,
    .bloc-txt-projets {
        color: #25292E;;
    }

    .line {
        background-color: #25292E;;
    }

    .videos-hovered1 button,
.videos-hovered3 button{
    border: solid #25292E;
    background-color: #ffffff00;
    color: #25292E;
}
}

.dark {

    .h1-wait,
    .h2-project,
    .bloc-txt-projets {
        color: white;
    }

    .line {
        background-color: white;
    }
    .videos-hovered1 button,
    .videos-hovered3 button{
        border: solid #ffffff;
        background-color: #ffffff00;
        color: #ffffff;
    }
}

/* ///////////////////MES PROJETS*/
.mesprojets-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-wrap: wrap; */
}
.videos-hovered1,
.videos-hovered2,
.videos-hovered3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    padding: 1rem;

}

.videos-hovered1 button,
.videos-hovered2 button,
.videos-hovered3 button{
    margin-top: 2rem;
    border-radius: 0.6rem;
    width: 20rem;
    height: 4rem;
}

.videos-hovered2 button{
display: none;
}

.CafeCreme-Projet{
    border-radius: 0 2vw 2vw 0;
}

.enigme-evadees,
.cafe-creme,
.garçonne {
    width: 100%;
    margin: 1rem;
}
.enigme-evadees h2,
.cafe-creme h2,
.garçonne h2,
.enigme-evadees h6,
.cafe-creme h6,
.garçonne h6 {
padding-left: 5rem;
padding-right: 5rem;
}
@media screen and (max-width: 1000px) {
    .enigme-evadees h2,
.cafe-creme h2,
.garçonne h2,
.enigme-evadees h6,
.cafe-creme h6,
.garçonne h6 {
padding: 0;
}

    .mesprojets-container {
        display: flex;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
padding-bottom: 15rem;

    }

    .bloc-projets {
        height: auto;
    }

    .bloc-projets,
    .bloc-txt-projets,
    .mesprojets-container .bloc-txt-projets-container {
        width: 100vw;
    }

    .enigme-evadees,
.cafe-creme,
.garçonne {
    border: solid 1px;
    border-radius: 0.6rem;
    width: 100%;
    margin: 1rem;
}

}

.bloc-projets {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    transition: 0.3s;
    border-radius: 25%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cards-projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.h1-wait {
    text-align: center;
    font-family: "danielbd";
    /* transform: rotate(-10deg); */
    font-size: max(1vw, 15px);
    margin-top: 2rem;
}

.bloc-txt-projets-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 50vw;

}

.bloc-txt-projets {
    padding: 20px;
    margin: 1vw;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.line {
    width: 40vw;
    height: 0.2vw;
    transition: 0.3s;
}

.enigme-evadees,
.cafe-creme,
.garçonne {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: space-between;
    align-items: center;
    padding: 3vw;
    transition: 0.3s;
}
@media (min-width: 1250px){
.enigme-evadees:hover,
.cafe-creme:hover,
.garçonne:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
}